.DS_Store
cluster_covid_data.asv
classify_covid_data.asv
training_testing_group_data.png
trained_centroids.png
testing_with_trained_centroids.png
competition.mat
Case-study-LaTeX-template/
Case-study-Word-template.docx
Case_Study_1.pdf